body {
    background-image: url(fond-ecran.jpg);
    background-size: cover;
}
  
.container {
    background-color: #0ea6e2;
    width: 400px;
    height: 500px;
    margin: 200px auto;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#city-name {
    color: white;
    text-align: center;
    width: 500px;
    font-size: 6em;
    margin-bottom: 10em;
}

#temperature {
    font-size: 36px;
    color: white;
    margin: 10px 0;
}

#description {
    font-size: 18px;
    color: white;
}
